.side-bar
  .side-header
    .side-header__box
      .side-header__box--user-name
        = current_user.name
      %ul.side-header__box--menu
        %li<
          = link_to "https://www.facebook.com/" do
            = icon('far','edit', class: "edit-btn")
          = link_to edit_user_path(current_user) do
            = icon('fas','cog', class: "edit-btn")
  .side-main
    .side-main__box
      .side-main__box--group-name
        techcamp
      .side-main__box--new-message
        まだメッセージがありません
    .side-main__box
      .side-main__box--group-name
        techcamp
      .side-main__box--new-message
        まだメッセージがありません
    .side-main__box
      .side-main__box--group-name
        techcamp
      .side-main__box--new-message
        まだメッセージがありません
      
      


