.side-bar
  .side-header
    .side-header__box
      .side-header__box--user-name
        = current_user.name
      %ul.side-header__box--menu
        %li<
          = link_to new_group_path do
            = icon('far','edit', class: "edit-btn")
          = link_to edit_user_path(current_user) do
            = icon('fas','cog', class: "edit-btn")
  .side-main
    - current_user.groups.each do |group|
      .side-main__box
        .side-main__box--group-name
          = link_to '#' do
            = group.name
        .side-main__box--new-message
          まだメッセージがありません


